.Header {
  display: flex;
  height: 70px;
  padding: 0 0 10px 0;
  justify-content: space-between;
  border-bottom: 1.5px solid #e0e0e0;
}

.logoSelect {
  display: flex;
}

.logo {
  height: 60px;
  align-self: center;
}

.LocaleSelect,
.form {
  align-self: self-end;
  margin-bottom: 5px;
}

.LocaleSelect {
  margin-left: 15px;
}

.form {
  position: relative;
  display: inline-flex;
  height: 35px;
}

.form input {
  padding: 6px 65px 5px 8px;
  border: 1.5px solid #b7b7b7;
  border-radius: 4px;
}

.form input:focus {
  outline: none;
}

.form button,
.form button[type="submit"] {
  position: absolute;
  padding: 0px;
  border: none;
  cursor: pointer;
  height: inherit;
  background-color: inherit;
}

.form button {
  padding: 9px 8px 7px 8px;
  right: 39px;
  color: #b7b7b7;
}

.form button:disabled {
  color: #fff;
}

.form button[type="submit"] {
  padding: 6px 8px;
  right: 0px;
}

.form button[type="submit"] img {
  width: 23px;
  height: 23px;
}
