.Header {
  display: flex;
  height: 90px;
  align-items: center;
  border-bottom: 1.5px solid #e0e0e0;
}

.container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.logo_locale {
  display: flex;
  align-items: flex-end;
}

.logo_locale img {
  height: 60px;
}

.form {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 30px;
}

.form input {
  width: 100%;
  border: 1.5px solid #b7b7b7;
  border-radius: 4px;
  padding: 5px 55px 5px 8px;
  outline: none;
  font-size: 13px;
}

.buttons {
  display: flex;
  position: absolute;
  height: 100%;
  right: 0;
}

.form button,
.form button[type="submit"] {
  border: none;
  cursor: pointer;
  padding: 5px 6px;
  background-color: inherit;
}

.form button {
  color: #b7b7b7;
}

.form button:disabled {
  color: #fff;
}

.form button[type="submit"] img {
  width: 20px;
}

@media (max-width: 768px) {
  .form {
    width: 150px;
  }
}
