.Nav {
  display: flex;
  padding: 16px 0;
  border-bottom: 1.5px solid #e0e0e0;
}

.category,
.active {
  font-weight: 600;
  cursor: pointer;
}

.active {
  color: #2c73e7;
}

.Nav :not(:first-child) {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .Nav {
    justify-content: space-between;
  }
  .category,
  .active {
    font-size: 14px;
  }
  .Nav :not(:first-child) {
    margin-left: 18px;
  }
}
