.Nav {
  display: flex;
  padding: 16px 0 16px 4px;
  border-bottom: 1.5px solid #e0e0e0;
}

.category,
.active {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  color: #2c73e7;
}

.Nav :not(:first-child) {
  margin-left: 20px;
}
