.Nav {
  display: flex;
  padding: 18px 0px;
  border-bottom: 1.5px solid #e0e0e0;
}

.category,
.active {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  color: #2c73e7;
}

.Nav :not(:first-child) {
  margin-left: 20px;
}
