body {
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.date {
  border-bottom: 1.5px solid #e0e0e0;
}

.today {
  padding: 16px 0 16px 4px;
  margin: 0px;
  font-size: 15px;
  font-weight: 600;
}
